#os_table {
    border: 1px solid;
    border-collapse: collapse;
    margin: 20px;
}

#os_table td,#os_table th, #os_table tr {
    border: 1px solid;
    padding: 6px;
}

.os_comment {
    font-size: 12px;
}

#copyright {
    font-size: 10px;
}

/* for the terminal */
#term_wrap {
    margin: 20px;
}

.term {
    font-family: monospace,courier,fixed,swiss,sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-variant-ligatures: none;
    color: #f0f0f0;
    background: #000000;
    overflow: hidden;
    white-space: nowrap;
}

.term_content a {
    color: inherit;
    text-decoration: none;
}

.term_content a:hover {
    color: inherit;
    text-decoration: underline;
}

.term_cursor {
    color: #000000;
    background: #00ff00;
}

.term_scrollbar { background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; height: 100%; }
.term_track { background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.term_thumb { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.term_thumb .term_end { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#term_paste {
    border: 1px solid;
    height: 19px;
}

/* file import */
#files {
    visibility: hidden;
    width:1px;
    height:1px;
    padding: 0px;
    margin: 0px;
    bordex: 0px;
}

label {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

#net_progress {
    visibility: hidden;
    width: 80px;
}
